body, html, .box{
  height:100%;
}
body, .box{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}

.box {
width: 80%;
height: 80%;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addBlinkyDancer, .addScalingDancer, .addRotatingDancer, .lineUpDancers{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border-radius:10px;
  position:absolute;
}
.blinky-dancer{
 position:absolute;
}
.rotating-dancer{
  position:absolute;
}

.scaling-dancer{
  position:absolute;
  height: 100px;
  width: 100px;
  -webkit-transition-property: width height;
  -webkit-transition-duration: 0.5s;
  transition-property: width height;
  transition-duration: 0.5s;
}

.scaling-dancer-large{
  position:absolute;
  height: 400px;
  width: 400px;
  -webkit-transition-property: width height;
  -webkit-transition-duration: 0.5s;
  transition-property: width height;
  transition-duration: 0.5s;
}

.rotating-dancer{
  position:absolute;
  height: 200px;
  width: 200px;
  transition-duration: 1s;
}

.rotating-dancer-large{
  position:absolute;
  height: 200px;
  width: 200px;
  transform: rotate(360deg);;
  transition-duration: 1s;
}

.move-over{
  /*transition: top left;*/
  transition-duration: 2s;
}

