body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addBlinkyDancer, .addScalingDancer{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.blinky-dancer{
  position:absolute;
}


.scaling-dancer{
  position:absolute;
  height: 50px;
  width: 50px;
  -webkit-transition-property: width height;
  -webkit-transition-duration: 2s;
  transition-property: width height;
  transition-duration: 2s;
}

.scaling-dancer-large{
  position:absolute;
  height: 400px;
  width: 400px;
  -webkit-transition-property: width height;
  -webkit-transition-duration: 2s;
  transition-property: width height;
  transition-duration: 2s;

}